.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
    background: #ffeeb6;
    margin: 2rem;
}

.card:hover{
    cursor: pointer;
    background: #f19b48;
    width: 350px;
}